<ion-view view-title="Carnet">
  <ion-content>
   
    <div class="list card" style="margin:8px">

  <div class="item item-avatar">
    <img src="img/hospital.png">
    <h2>Carnet de identificación</h2>
    <p>Ambuapp</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/carnet.png">
    <h2>
      Nombre: Marty McFly
    </h2>
    <h2>
      C.C: 1.045.698.543
    </h2>
    <h2>
      Tipo de Sangre: AB+
    </h2>
    <p>
      <a href="#" class="subdued">Descargar</a>
      <a href="#" class="subdued">Compartir</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
