<ion-view view-title="Lista">
  <ion-content>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ambulancia.gif">
      <h2>AMI ambulacias</h2>
      <p>Abulacia Nº572 SDK-498</p>
      <p>5 Km hace 5 min.</p>
    </a>
    </div>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" >
      <img src="img/ambu1.jpg">
      <h2>A.M.A ambulacias</h2>
      <p>Abulacia Nº127 SDK-499</p>
      <p>9 Km hace 2 min.</p>
    </a>
    </div>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" >
      <img src="img/ambulancia.gif">
      <h2>AMI ambulacias</h2>
      <p>Abulacia Nº129 SDK-497</p>
      <p>12 Km hace 15 min.</p>
    </a>
    </div>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" >
      <img src="img/ambu3.jpg">
      <h2>Serbiomed</h2>
      <p>Abulacia Nº342 SDK-496</p>
      <p>14 Km hace 7 min.</p>
    </a>
    </div>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" >
      <img src="img/ambu4.jpg">
      <h2>Ambumedic</h2>
      <p>Abulacia Nº010 SDK-494</p>
      <p>15 Km hace 30 min.</p>
    </a>
    </div>
    <div class="list" style="margin-bottom: 0px;" ng-click="showsolicitud()">
    <a class="item item-thumbnail-left" >
      <img src="img/ambulancia.gif">
      <h2>Colmedic Ambulacias</h2>
      <p>Abulacia Nº232 SDK-492</p>
      <p>20 Km hace 3 min.</p>
    </a>
    </div>
  </ion-content>
</ion-view>
